<div class="col-md-12 well">
  <div class="col-md-3">
       <img src="./assets/about.jpeg" alt="About" class="img-thumbnail">
  </div>
  <br>
  <div class="vr"></div>
  <div class="col-md-8 abt-par">
    <div><span class='abt-us'>ABOUT</span> US</div>
    <div>
     Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolorreprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
  </div>
</div>
